# Database Credentials
DB_USER=postgres
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sentinel_db

# Hardware Config
ARDUINO_PORT=COM3

# Source Config (0 for Webcam, or http://IP:PORT/video for Mobile/IP Cam)
CAMERA_SOURCE=0
